@{
}
@model VideoGamesManager.Dbo.Category

@{
    ViewData["Title"] = "Gestion des catégories de jeux";
}

<h2>Gestion des catégories de jeux</h2>

<div class="box">
    <h3>Ajouter/Modifier une catégorie</h3>

    <form asp-controller="Categories" asp-action="SaveCategory" method="post">
        <div class="form-group">
            <label>Nom de la catégorie :</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="btn-group" role="group" aria-label="Actions">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("EditCategory", "Categories")'">Modifier</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteCategory", "Categories")'">Supprimer</button>
        </div>
    </form>
</div>

<h3>Liste des catégories de jeux :</h3>
<ul>
</ul>