@using VideoGamesManager.Dbo
@model List<VideoGame>

<h2>Select a game to restock:</h2>

<form method="post" action="/Purchase/Confirm">
    <div>
        <label for="gameId">Game:</label>
        <select id="gameId" name="gameId">
            @foreach (var game in Model)
            {
                    <option value="@game.Id">@game.Name</option>
            }
        </select>
    </div>
    <button type="submit">Confirm Purchase</button>
</form>