@model VideoGamesManager.Dbo.VideoGame

@{
    ViewData["Title"] = "Liste des jeux vidéo";
}

<h2>Liste des jeux vidéo</h2>

<div class="box">
    <h3>Catégorie : Video games</h3>

    <form asp-controller="Jeux" asp-action="AjouterJeu" method="post">
        <div class="form-group">
            <label>Nom du jeu :</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <div class="form-group">
            <label>Prix :</label>
            <input type="text" class="form-control" asp-for="Price" />
        </div>
        <div class="form-group">
            <label>Quantité demandée :</label>
            <input type="text" class="form-control" asp-for="Stock" />
        </div>
        <div class="form-group">
            <label>Date de vente :</label>
            <input type="text" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>

<h3>Jeux sélectionnés :</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nom du jeu</th>
            <th>Prix</th>
            <th>Quantité demandée</th>
            <th>Date de vente</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>Tous les jeux dans la base de données :</h3>
<ul>
</ul>